@import "../mixins/intents";
$button-text: $font-size-base;
$button-intents: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "info": $info,
);
$button-sizes: (
  "lg": $height-lg,
  "md": $height-base,
  "sm": $height-sm,
);

.i {
  &-btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1.4rem;
    background-color: $primary;
    border-radius: $radius-sm;
    border: 1px solid transparent;
    line-height: 1;
    font-size: $button-text;
    text-align: center;
    text-decoration: none;
    transform: scale(1);
    white-space: nowrap;
    width: fit-content;

    &-loading {
      cursor: unset;
    }

    &-text {
      .i-btn-loading & {
        visibility: hidden;
      }
    }

    &.i-disabled {
      background-color: $surface !important;
    }

    .i-icon {
      padding-right: $padding-xs;
      font-size: ($height-base / 36px) * $button-text;
    }

    /** Button Sizes */
    @each $prefix, $size in $button-sizes {
      &.i-btn-#{$prefix} {
        font-size: ($size / 32px) * $button-text;
        .i-icon {
          font-size: ($size / 36px) * $button-text;
        }
      }
    }
    /** Button Intents */
    @each $prefix, $intent in $button-intents {
      &.i-btn-solid {
        &.i-btn-#{$prefix} {
          @include solid($intent);
        }
        & .i-icon {
          color: $white;
        }
      }
      &.i-btn-outline {
        &.i-btn-#{$prefix} {
          @include outline($intent);
        }
        &:hover .i-icon {
          color: $white;
        }
      }
      &.i-btn-ghost {
        &.i-btn-#{$prefix} {
          @include ghost($intent);
        }
      }
      &.i-btn-icon {
        &.i-btn-#{$prefix} {
          @include icon($intent);
          height: auto;
          border-radius: 100%;
          .i-icon {
            padding: 4px;
          }
        }
      }
    }
  }
}
