.i {
  &-spinner {
    display: inline-block;
    &::after {
      content: "";
      background: url(fonts/loading.svg) center center no-repeat;
      width: 2rem;
      height: 100%;
      position: absolute;
      left: calc(50% - 1rem);
      top: 0;
      background-size: 100%;
    }
  }
}
